[Unit]
Description=Ultra Tracker
Before=network-pre.target
Wants=network-pre.target
After=dbus.service
After=polkit.service

[Service]
ExecStart=/usr/bin/python3 /proj/ultra-tracker/server.py -c /proj/ultra-tracker/swammie_shuffle.yml
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
